{% extends "./base.njk" %}

{% block main %}
    <section class="section-budget">
        <div class="budget-container">
            <span class="budget-head">{{ resumen.FuentePresupuesto.titulo }}</span>
            <span class="budget-main-number">{{ resumen.FuentePresupuesto.dato }}</span>
        </div>
        <div class="budget-container">
            <div class="budget-content">
                <span class="budget-text">{{ resumen.GastoDevengado.titulo }}</span>
                <span class="budget-number">{{ resumen.GastoDevengado.dato }}</span>
            </div>
        </div>
        <div class="budget-container">
            <div class="budget-content">
                <span class="budget-text">{{ resumen.PorcentajeEjecucion.titulo }}</span>
                <span class="budget-number">{{ resumen.PorcentajeEjecucion.dato }}</span>
            </div>
        </div>
    </section>
    <section>
        <div class="chart container" style="width: 700px; margin: auto;">
            <canvas id="chart-area"></canvas>
            <canvas id="canvas"></canvas>
        </div>
    </section>
{% endblock %}

{% block page_scripts %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.onload = function() {
            var randomScalingFactor = function() {
                return Math.round(Math.random() * 100);
            };

            var config;
            var ctx;

            config = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                            randomScalingFactor(),
                        ],
                        backgroundColor: [
                            '#F13F42',
                            '#0087FE',
                            '#653FE0',
                            '#EC5657',
                            '#FDA20C',
                        ],
                        label: 'Contrataciones por categoria'
                    }],
                    labels: [
                        'Salud',
                        'Justicia',
                        'Municipalidades',
                        'Seguridad',
                        'Economía'
                    ]
                },
                options: {
                    responsive: true,
                    // maintainAspectRatio: false,
                    title: {
                        display: true,
                        text: 'Contrataciones por categoria'
                    },
                }
            };
            ctx = document.getElementById('chart-area').getContext('2d');
            window.myPie = new Chart(ctx, config);

            config = {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                datasets: [{
                    label: 'Completadas',
                    backgroundColor: '#F13F42',
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ]
                }, {
                    label: 'Adjudicadas',
                    backgroundColor: '#0087FE',
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ]
                }, {
                    label: 'Pendientes de confirmar',
                    backgroundColor: '#653FE0',
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ]
                }]
            };
            ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: config,
                options: {
                    title: {
                        display: true,
                        text: 'Contrataciones por estado'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    // maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        };
    </script>
{% endblock %}

{% block page_styles %}
{% endblock %}